<form method="post" action="{{ path('app_profile_edit') }}" enctype="multipart/form-data">
    <div>
      
        <input id="add_photo" type="file" name="pic">
    </div>
    <div>
        <button class="postButton" type="submit">save</button>
    </div>
</form>



