{% for friend in app.user.follows %}
	<div class="friends_list">
		<div class="friend">
        <span class="material-icons">
			person
		</span>
		<a href="{{path('app_message_send',{id:friend.id})}}">
			<h2>{{friend.firstName}}
				{{friend.lastName}}</h2>
		</a>
        </div>
	</div>

{% endfor %}
<div>
