
{# <div class="widgets_input">
    <span class="material-icons widgets__searchIcon">
        search
    </span>
    <input type="text" placeholder="search"/>
</div>	 #}
{% for friend in app.user.follows %}
<div class="sidebarOption"><span class="material-icons">
		person
	</span><a href="{{path('app_message_send',{id:friend.id})}}"><h2>{{friend.firstName}} {{friend.lastName}}</h2></a></div>
    
{% endfor %}
<div>


