<div class="sidebarOption active">
<span class="material-icons">
home
</span>
<h2>home</h2>
</div>
<div class="sidebarOption ">
<span class="material-icons">
search
</span>
<h2>Explore</h2>
</div>
<div class="sidebarOption ">
<span class="material-icons">
notifications
</span>
<h2>Notification</h2>
</div>
<div class="sidebarOption ">
<span class="material-icons">
person
</span>
<a href="{{path('app_profile',{user:app.user.id})}}">
<h2>Profile</h2>
</a>
</div>