<div class="feed_header">
	
	<!-- postBox-->
	<div class="postBox">
		<form method="post" action="{{ path('app_post_addtwo') }}" enctype="multipart/form-data">
			<div class="postBox_input">
				<img class="picBox" src="{{ asset('uploads/userPic/'~ userData.pic) }}" alt="profile card">
				<input type="text" placeholder="What's happening ?..." name="text">
			</div>
			<div class="postBox_footer">
				<div>
					<label for="add_photo" id="label_photo">
						<span class="material-icons">
							add_a_photo
						</span>
					</label>
					<input id="add_photo" type="file" placeholder="" name="pics[]" multiple>
				</div>
				<div>
					<button class="postButton" type="submit">Post</button>
				</div>
			</div>
		</form>
	</div>
</div>
