
<img class="small-image" src="{{ asset('uploads/userPic/'~ userData.pic) }}" alt="user picture">
<div class="details">
	<input id="input-text" type="text" placeholder="What's happening ?" name="text">

	<div class="actions">
		<label for="add-photo" id="label_photo">
			<span class="material-icons">
				add_a_photo
			</span>
		</label>
		<input id="add-photo" type="file" placeholder="" name="pics[]" multiple>

	<button class="post-button" type="submit">Post</button>
	</div>

</div>
