<div class="feed_header">
	<h2>Home</h2>
	<!-- postBox-->
	<div class="postBox">
		<form>
			<div class="postBox_input">
				<img class="picBox" src="{{ asset('uploads/userPic/'~ userData.pic) }}" alt="profile card">
				<input type="text" placeholder="What's happening">
			</div>
			<button class="postButton">Post</button>
		</form>
	</div>

