<div class="search">
<input type="text" placeholder="search"></div>
<div class="trending"></div>
<div class="friends-list">
  
<h3>Friends</h3> 
 
<div> 
{% set friends = [] %}

 {% for friend in app.user.follows %}
    {% set friends = friends|merge([friend]) %}
{% endfor %} 
 
 
 
{{ include('follower/_friends_list.html.twig', friends) }}

</div> 
</div>

 
