
{% if users|length >0 %}
   <div class="followers">
    {% for otherUser in users %}
 <div class="follow">
 		<img class="small-image" src="{{ asset('uploads/userPic/'~ otherUser.image)}}" alt="user pic"/>
<div>{{otherUser.firstName}} {{otherUser.lastName}}</div>
  <div class="btn-follow">
        <a href="{{ path('app_unfollow', { id: user.id }) }}">Unfollow</a>
      </div>
 </div>
    {% endfor %}
  </div>

{% else %} 
<div class="font-bold text-gray-600">The list is currently empty </div>
{% endif %}