{% extends 'base.html.twig' %}
{% block title %}Notifications {% endblock %}

{% block body %}

{% if app.user.darkMode == 1 %}
    <script>document.body.classList.add("darkmode");</script>
{% endif %}

<div class="home-main">
	<div class="side-left">
		{{ include('home/_side.html.twig') }}
	</div>
	<main >
		<div class="allNotification">
		{% if notification %}
 
		 	{% for notif in notification %}
			<div class="newNotif">
 				{% include "/notification/_notif.html.twig"  with  {'notif' : notif}  %}
 			</div>
			
		 	{% endfor %}
		{% endif %}
		
		{% if notifications %}
	 		{% for notif in notifications %}
     			<div class="ancNotif">
	   				{% include "/notification/_notif.html.twig"  with  {'notif' : notif}  %}
	 			</div>
     		{% endfor %}
		{% endif %}
		</div>
		
	</main>
	 
	<div class="side-right">
		{{ include("home/_side_right.html.twig") }}
	</div>
<div>
{% endblock %}