.main-chat {
    height: 100vh;
    display: flex;
    position: relative;
}

.message-container {
    position: absolute;
    bottom: 150px;
    width: 100%;
}

.form-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.chat-textarea {
    flex-grow: 1;
    padding: 10px;
    border: none;
    resize: none;
}

.send-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#send-button:hover {
    background-color: #0056b3;
}

.message_author {
    display: flex;
    align-items: center;
    margin: 15px 5% 5px 10%;
}

.my_message {
    display: flex;
    margin: 15px 5% 5px 40%;
}

.my_message p {
    background-color: var(--secondcolor);
    font-size: 1.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow-x: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
    /*Ajoutezcetteligne*/
}