.homeContainer {
    display: flex;
    /* height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.homePosts {
    width: 60%;
    border-right: 1px solid var(--firstcolor);
    min-width: fit-content;
    /* Pour les navigateurs modernes */
}

.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    /* border: 1px solid var(--firstcolor); */
    padding: 15px 20px;
}

.feed_header h2 {
    font-size: 20px;
    font-weight: 800;
}

#left {
    border-right: 1px solid black;
}

#midle {
    padding-left: 10px;
}

#footer {
    margin-top: 200px;
}

@media screen and (max-width: 768px) {
    .homeContainer {
        display: flex;
        flex-direction: column;
    }
}