    .home-main {
        display: grid;
        grid-template-columns: minmax(15%, 30%) minmax(380px, 35%) minmax(380px, 35%);
    }
    
    .home-bar {
        padding: 0 15px;
        font-size: 2rem;
        font-weight: 400;
        position: sticky;
        top: 0;
    }
    
    main {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
    }
    /*
    notfications page */
    
    .notifications {
        display: flex;
        align-items: center;
        margin: 20px;
        gap: 10px;
    }
    
    .sender {
        display: flex;
        align-items: center;
    }