  .author_pic img {
      border-radius: 50;
      -webkit-border-radius: 50;
      -moz-border-radius: 50;
      -ms-border-radius: 50;
      -o-border-radius: 50;
      height: 40px;
      width: 40px;
  }
  
  .post {
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid var(--firstcolor);
      padding-bottom: 10px;
  }
  
  .post_body img {
      width: 450px;
      object-fit: contain;
      border: radius 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
  }
  
  .post_footer {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
  }
  
  .post_padge {
      font-size: 14px!important;
      color: var(--firstcolor);
      margin-right: 5px;
  }
  
  .post_author {
      font-size: 15px;
      margin-bottom: 5px;
  }
  
  .post_content {
      margin-bottom: 10px;
      font-size: 10px;
  }
  
  .post_body {
      flex: 1;
      padding: 10px;
  }
  
  .author_pic {
      padding: 20px;
  }