:root {
    --firstcolor: #9b9b9b;
    --bgcolor: #131418;
    --secondcolor: #f9b233;
    --whitecolor: #ffffff;
}

#register {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#formBox {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#formBox div {
    margin-top: 5px;
}

label {
    display: none;
}

 ::placeholder {
    padding: 4px;
}

* {
    margin: 0;
    padding: 0;
    color: var(--firstcolor);
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body {
    overflow-x: hidden;
}

nav {
    height: 6rem;
    width: 100vw;
    background-color: var(--bgcolor);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}


/*Styling logo*/

.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
}


/*Styling Links*/

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    background-color: #131418;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: var(--secondcolor);
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--secondcolor);
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
    -webkit-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Styling Buttons*/

.login-button {
    background-color: transparent;
    border: 1.5px solid var(--whitecolor);
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: var(--whitecolor);
    border: 1.5px solid var(--whitecolor);
    transition: all ease-in-out 350ms;
    -webkit-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: var(--secondcolor);
    border: 1.5px solid var(--secondcolor);
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: var(--whitecolor);
    background-color: transparent;
    border: 1.5px solid var(--whitecolor);
    transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--whitecolor);
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Stying for small screens*/

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
        -webkit-transform: translate(-5%, -50%);
        -moz-transform: translate(-5%, -50%);
        -ms-transform: translate(-5%, -50%);
        -o-transform: translate(-5%, -50%);
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        -webkit-transition: all 0.5s ease 0.2s;
        -moz-transition: all 0.5s ease 0.2s;
        -ms-transition: all 0.5s ease 0.2s;
        -o-transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
        -webkit-transition: all 0.5s ease 0.4s;
        -moz-transition: all 0.5s ease 0.4s;
        -ms-transition: all 0.5s ease 0.4s;
        -o-transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
        -webkit-transition: all 0.5s ease 0.6s;
        -moz-transition: all 0.5s ease 0.6s;
        -ms-transition: all 0.5s ease 0.6s;
        -o-transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
        -webkit-transition: all 0.5s ease 0.7s;
        -moz-transition: all 0.5s ease 0.7s;
        -ms-transition: all 0.5s ease 0.7s;
        -o-transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
        -webkit-transition: all 0.5s ease 0.8s;
        -moz-transition: all 0.5s ease 0.8s;
        -ms-transition: all 0.5s ease 0.8s;
        -o-transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
        -webkit-transition: all 0.5s ease 0.9s;
        -moz-transition: all 0.5s ease 0.9s;
        -ms-transition: all 0.5s ease 0.9s;
        -o-transition: all 0.5s ease 0.9s;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
        -webkit-transition: all 0.5s ease 1s;
        -moz-transition: all 0.5s ease 1s;
        -ms-transition: all 0.5s ease 1s;
        -o-transition: all 0.5s ease 1s;
    }
    li.fade {
        opacity: 1;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -moz-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    -o-transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    -moz-transform: rotate(45deg) translate(-5px, -6px);
    -ms-transform: rotate(45deg) translate(-5px, -6px);
    -o-transform: rotate(45deg) translate(-5px, -6px);
}