        .side-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-self: end;
            height: 100vh;
            top: 0;
            position: sticky;
            width: 100%;
            box-shadow: var(--boxshadow);
        }
        
        .menu-icon {
            display: none;
        }
        
        .side-links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 70vh;
            padding-top: 20px;
            position: relative;
            flex-wrap: wrap;
            align-content: end;
        }
        
        .side-links a {
            display: flex;
            align-items: center;
            font-size: 2rem;
            width: fit-content;
            gap: 5px;
            padding: 10px;
            cursor: pointer;
            border-radius: 9999px;
            -webkit-border-radius: 9999px;
            -moz-border-radius: 9999px;
            -ms-border-radius: 9999px;
            -o-border-radius: 9999px;
            box-shadow: var(--boxshadow);
        }
        
        .log-out {
            display: flex;
            align-items: center;
            font-size: 2rem;
            width: fit-content;
        }
        
        .side-links a .material-icons {
            font-size: 3rem;
            margin-right: 15px;
        }
        
        .side-links a span {
            cursor: pointer;
        }
        
        .side-links a:hover {
            border-radius: 9999px;
            -webkit-border-radius: 9999px;
            -moz-border-radius: 9999px;
            -ms-border-radius: 9999px;
            -o-border-radius: 9999px;
            box-shadow: var(--secondboxshadow);
        }
        
        .post-button {
            background-color: var(--btncolor);
            width: 90%;
            height: 55px;
            border-radius: 9999px;
            -webkit-border-radius: 9999px;
            -moz-border-radius: 9999px;
            -ms-border-radius: 9999px;
            -o-border-radius: 9999px;
            margin-top: 15px;
            cursor: pointer;
            font-size: 1.7rem;
            color: var(--bgcolor);
            font-weight: 700;
            border: none;
            transition-duration: 0.2s;
            color: var(--firstcolor);
        }
        
        .post-button:hover {
            background-color: rgb(29, 155, 240, 0.9);
        }
        
        .small-img {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        
        .side-right {
            display: flex;
            flex-direction: column;
            height: 100vh;
            position: sticky;
            top: 0;
            justify-self: center;
            max-width: 100%;
            gap: 20px;
        }
        
        .events-right {
            max-height: 100%;
            /* overflow-y: auto; */
        }
        
        .events-right .onePost {
            padding: 30px;
        }
        
        .suggestions {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 40px;
        }
        
        .suggestions .user {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
        }
        
        .user .btn-follow {
            height: 30px;
            margin-left: auto;
        }
        
        .search {
            display: flex;
            height: 55px;
            max-width: 355px;
            padding: 5px;
        }
        
        .search input {
            background-color: var(--bgcolor);
            -webkit-border-radius: 9999px;
            -moz-border-radius: 9999px;
            -ms-border-radius: 9999px;
            -o-border-radius: 9999px;
            height: 45px;
            width: 100%;
            border: none;
            padding-left: 30px;
            font-size: 1.5rem;
            line-height: 20px;
            font-weight: 400;
        }
        
        .trending {
            display: flex;
            flex-direction: column;
            height: 270px;
            max-width: 355px;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            background-color: var(--firstcolor);
            margin-top: 16px;
        }
        
        .friend a {
            font-size: 1.5rem;
            color: var(--firstcolor);
        }
        
        .menu-show {
            display: flex;
            background-color: var(--bgcolor);
            height: 100vh;
            width: 70%;
            position: fixed;
            z-index: 100;
        }
        
        #list-cachee {
            position: absolute;
            max-height: 30%;
            width: 200px;
            display: none;
            flex-direction: column;
            left: 80%;
            bottom: 0;
            background-color: var(--bgcolor);
            overflow-y: auto;
            padding: 5px;
            border-radius: 10px;
            overflow-x: hidden;
            z-index: 1000;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            /* Cacher la barre de défilement sur Firefox */
            scrollbar-width: thin;
            /* Cacher la barre de défilement sur Chrome et Safari */
            &::-webkit-scrollbar {
                width: 8px;
                /* Ajustez la largeur selon vos préférences */
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--firstcolor);
                /* Couleur de la poignée de défilement */
                border-radius: 4px;
            }
            &::-webkit-scrollbar-track {
                background-color: var(--bgcolor);
                /* Couleur de la piste de défilement */
            }
        }
        
        #list-cachee a {
            font-size: 1.2rem;
            padding: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            width: 100%;
        }
        
        #list-cachee .material-icons {
            background-color: var(--secondcolor);
            margin: auto;
            margin-top: 10px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            height: 30px;
            cursor: pointer;
        }
        
        #list-cachee>div:last-child {
            align-self: center;
        }
        
        .nbr-notif {
            width: 25px;
            height: 25px;
            color: #dcdcdc;
            background-color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            text-align: center;
            position: absolute;
            top: -10px;
            left: -5px;
        }
        
        .notif {
            display: flex;
            position: relative;
        }
        
        .newNotif {
            display: flex;
            align-items: center;
            background-color: blue;
            gap: 10px;
            cursor: pointer;
            border-bottom: 1px gray solid;
            border-radius: 5px;
            padding: 5px;
        }
        
        .ancNotif {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border-bottom: 1px gray solid;
            border-radius: 5px;
            padding: 5px;
        }
        
        .allNotification {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        
        .notification {
            display: flex;
            align-items: center;
            gap: 10px;
        }